/* Reset some things first */
/* html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, pre, code, address, variable, form, fieldset, blockquote { */
	/* padding: 0; */
	/* margin: 0; */
	/* font-weight: normal; */
/* } */

a img, img {
	border: 0;
}

body {
	font-family: verdana, arial, sans-serif;
	font-size: 14px;
	color: black;
	background-color: white;
}

/* Small fix for position of the images in the no canvas version of the pie graph */
#no_canvas {
	margin-top: 0 !important;
}


td.tombola-roue {
	padding-top: 65px;
    background: url(../images/roue.png);
    background-position: center;
    background-repeat: no-repeat;
	background-position-y: 38px;
}


#div-gagnant {
	display:none;
    position: fixed;
    top: calc(50% - 250px);
    left: calc(50% - 400px);
    height: 500px;
    width: 800px;
    background-color: #ADA578;
    box-sizing: border-box;
    color: white;
    font-size: 51px;
    text-align: center;
    padding: 50px;
	padding-top: 150px;
	border: 10px solid #FAD2ED;
}



/* ******************************************************* */

:root {
  --gold: #ffb338;
  --light-shadow: #77571d;
  --dark-shadow: #3e2904;
}

body {
  margin: 0;
}

.texteEffet {
	box-sizing: border-box;
	display: grid;
	grid-template-areas: 'overlap';
	place-content: center;
	text-transform: uppercase;
}

.texteEffet > div {
  background-clip: text;  
  -webkit-background-clip: text;
  color: #363833;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 50px;
  grid-area: overlap;
  letter-spacing: 1px;
  -webkit-text-stroke: 4px transparent;
}

div.bg {
  background-image: repeating-linear-gradient( 105deg, 
    var(--gold) 0% , 
    var(--dark-shadow) 5%,
    var(--gold) 12%);
  color: transparent;
  filter: drop-shadow(5px 15px 15px black);
  transform: scaleY(1.05);
  transform-origin: top;
}

div.fg{
  background-image: repeating-linear-gradient( 5deg,  
    var(--gold) 0% , 
    var(--light-shadow) 23%, 
    var(--gold) 31%);
  color: #1e2127;
  transform: scale(1);
}

#parametres {
	position:fixed;
	top:35px;
	left:35px;
	background-color: rgb(153,204,206);
	padding:25px;
	width:550px;
	border-radius:25px;
	border: 6px double black;
	display: none;
}

#parametres-titre {
	font-size:18pt;
	font-weight:bold;
	padding-bottom:25px;
}


#lotEnCours {
	text-align: center;
	font-size: 18pt;
	display: inline-block;
	width: calc(100% - 50px);
    height: 50px;
    vertical-align: middle;
    position: relative;
    vertical-align: middle;
    position: relative;
    padding-bottom: 25px;
    margin-left: 25px;
    padding-top: 25px;
	background-color: rgb(153,204,206);
	border-radius: 25px;
}

#cadeau {
	display: inline-block;
    vertical-align: middle;
}

html.tablette {
	background-image: url('../images/blackboard2.png');
	background-size: 110%;
	background-attachment: fixed;
}

body.tablette {
	background-color: transparent;
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-color:transparent;
}

.btnEnregistrerCadeau, .btnValiderCadeau, .btnAnnulerCadeau, .btnReprendreCadeau {
	display:none;
	width:32px;
	height:32px;
}

.btnEnregistrerCadeau {
	display:inline;
	padding-right: 10px;
}

tr.cadeauGagne td.gagnantTicket, tr.cadeauGagne td.gagnantLot  {
	background-image: url('../images/pxl.png');
    background-position-y: 50%;
    background-repeat: repeat-x;
}

#gagnants:not(.tablette) {
	background-image: url('../images/blackboard2.png');
	background-size: 110%;
	color: whitesmoke;
	border-radius: 25px
}

#panel {
	background-color:#2f2f2f;
	position:fixed;
	width:100%;
	top:0px;
	left:0px;
}

#table-panel.tablette.panel thead tr th:first-child {
	width:150px;
}

#table-panel.tablette.panel {
	color: whitesmoke;
}

#btn-tirer, #btn-retirer {
	margin-right:25px;
	cursor:pointer;
}

/*
#gagnants.tablette td, #gagnants.tablette th {
	font-size:24px;
	position: sticky;
}

#gagnants thead {
	/* background-color:#2f2f2f; * /
}

#gagnants.tablette thead tr:first-child th {
	top: 0px;
	background-color:#2f2f2f;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

#gagnants.tablette thead  tr:last-child th {
	top: 35px;
	background-color:#2f2f2f;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
*/
#gagnants.tablette {
	color: whitesmoke;
	width:100%;
	padding-top:40px;
}

#gagnants tr th {
	font-size:20px;
	border:0px;
	text-align:center;
}

#gagnants.tablette tr th {
	border:0px;
	text-align:left;
}

#gagnants tr td {
	font-size:20px;
	border:0px;
}

#gagnants.tablette tbody tr:nth-child(odd) td {
	border-top:1px solid whitesmoke;
}

#gagnants.tablette > tbody td.ticketGagnant {
	width:500px;
}
#gagnants.tablette .gagnantAction {
	text-align:right;
}

#gagnants.tablette > tbody td.lotGagnant {
	width:calc(50% - 125px);
}
	

#gagnants:not(.tablette) > thead, #gagnants:not(.tablette) > tbody {
	display: inline-block;
    width: 100%;
}

#gagnants:not(.tablette) > tbody tr td:first-child {
	width:500px;
}

#gagnants:not(.tablette) > tbody tr td:last-child {
	width:450px;
}

#gagnants:not(.tablette) > tbody {
	overflow-y: hidden;
    overflow-x: clip;
	height:650px;
	max-height:650px;
	/* width:460px; */
}

#gagnants:not(.tablette) tbody tr:last-child {
	background-color: whitesmoke;
}
#gagnants:not(.tablette) tbody tr:last-child td.ticketGagnant {
	text-align:center;
}

#gagnants:not(.tablette) tbody tr:last-child td {
	font-size:28px;
	color:#2f2c2c;
}
#gagnants.tablette {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    max-height: calc(100% - 40px);
    margin: 20px;
}

#gagnants.tablette tbody tr {
	height:50px;
}

#github {
	position:fixed;
	top:5px;
	right:5px;
	border:1px solid black;
	border-radius:5px;
	cursor:pointer;
}

.gagnantTelephone {
	visibility:hidden;
    padding-left: 35px;
    background-image: url(../images/phone.png);
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 32px;
    margin-left: 15px;
	height: 34px;
    display: inline-block;
}

.gagnantTelephoneVisible {
	visibility:visible;
}

#icon-affiche-telephone {
	vertical-align: middle;
	cursor:pointer;
}
